.singleReview {
  border-style:dotted;
}

.Reviews{
  display:flex;
  flex-direction:row;
}

.IndividualReviews{
  display:flex;
  position:relative;
  flex-direction:column;
}

.IndividualReviewButton{
  background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
    text-decoration:underline;
}

.UserAndDate{
  position: relative;
  float: right;
  background-color:greenyellow;
}

.selectReview {
  border:none;
}
.starRating{
  display:none;
}

.star-form{
  cursor:pointer;
  transition: color 200ms;
}
/* STAR OVERVIEW */

.ReviewOverview {
  display:flex;
  position:relative;
  flex-direction:column;
}
.empty-star {
  display: inline-block;
  position: relative;
  font-size: 1em;
  color: #ddd;
}
.full-star:after {
  font-family: FontAwesome;
  content: "\f005";

  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  overflow: hidden;
  color: #f80;
}
#staroverview {
  margin-right: 2em;

  display: inline-block;
}
#star-100:after {
  font-family: FontAwesome;
  content: "\f005";
  position: absolute;
  left: 0;
  width: 100%;
  overflow: hidden;
  color: #ffc107;
}

#star-75:after {
  font-family: FontAwesome;
  content: "\f005";
  position: absolute;
  left: 0;
  width: 75%;
  overflow: hidden;
  color: #ffc107;
}

#star-50:after {
  font-family: FontAwesome;
  content: "\f005";
  position: absolute;
  left: 0;
  width: 50%;
  overflow: hidden;
  color: #ffc107;
}

#star-25:after {
  font-family: FontAwesome;
  content: "\f005";
  position: absolute;
  left: 0;
  width: 25%;
  overflow: hidden;
  color: #ffc107;
}

#star-0:after {
  font-family: FontAwesome;
  content: "\f005";
  position: absolute;
  left: 0;
  width: 0%;
  overflow: hidden;
  color: #ffc107;
}
/* bar chart */
.barChart {
  display:flex;
}


.title {
  font-size: 1.4em;
  font-weight: 300;
}

.bar-group .name-label {
  text-anchor: end;
  font-weight: 300;
  font-size: 1em;
  fill: #333;
}

.bar-group .value-label {
  text-anchor: end;
  fill: #fff;
  font-weight: 900;
  font-size: 0.7em;
}

.star-breakdown {
  cursor:pointer;
  transition: color 200ms;
}

/*product breakdown */
input[type=range]{
  -webkit-appearance: none;
  background-color: rgb(127, 127, 127);
}

datalist {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}

input[type="range"] {
  margin: 0;
}
/*pdd test*/
.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 25px;
  background: #D3D3D3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}



.slider::-webkit-slider-thumb {
  width: 1px;
  height: 100px;
  background: #FF0000;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #FF0000;
}

.sliderticks {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  font-size: small;
}

.sliderticks p {
  position: relative;
  font-size: small;
  display: flex;
  justify-content: center;
  text-align: center;
  width: 1px;
  background: #D3D3D3;
  height: 0px;
  line-height: 10px;
  margin: 0 0 20px 0;
}

.ProductBreakDown {
  padding:10px;
}
/*MODAL*/
.modal {
  position: fixed;
  top: 10%;
  right: 10%;
  bottom: 10%;
  left: 10%;
  padding: 10px;
  box-shadow: 0 10px 30px 0 rgba(127, 127, 127, 0.3);
  background: rgba(255, 255, 255, 0.8);
}
