.styleList {
  position: right;
  border-radius: 2.3em;
  width: 5em;
  height: 5em;
  border-width: .1.5em;
  border-style: solid;
  border-color: #000000;
}

/* *
{
  margin: 0;
  padding: 0;
}
.selectedStyleImages img
{
  height: 92px;
  margin: 10px 0;
  cursor: pointer;
  display: block;
  opacity: 0.4;
} */
/* .selectedStyleImages img:hover
{
  opacity: 1;
}
.selectedStyleImages {
  float: left;
}
.gallery {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  grid-area: 1 / 1 / 7 / 13;
}

.mainImg img {
  height: 200px;
}
.mainImg {
  float: right;
  padding: 10px;
} */


.gallery {
  width: 100%;
  height: 32rem;
  display: block;
  margin: auto;
  border: 5px solid #222;
  object-fit: cover;
}

.selectedStyleImages {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(9rem, 1fr));
  justify-content: center;
  align-items: center;
}

.mainImg {
  width: 100%;
  height: 8rem;
  display: block;
  margin: auto;
  margin-bottom: 0.5rem;
  border: 5px solid #222;
  object-fit: cover;
  cursor: pointer;
}