.carousel-container{
  position: relative;
  background: whitesmoke;
  display: flex;
  width: 80%;
  height: 25rem;
  margin: auto;
  border-color: azure;
  flex-wrap: nowrap;
  overflow: hidden;
}

.inner{
  white-space: nowrap;
  display: flex;
  height: 25rem;
  /* transition: transform 0.3s; */
}

.main{
  white-space: nowrap;
  height: 25rem;
  display: flex;
  align-items: center;
}

.carousel-item{
  position: relative;
  height: 20rem;
  width: 15rem;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1);
  cursor: pointer;
}
.compare-button{
  align-items: top;
  height: 2rem;
  width: 4rem;
  cursor: pointer;
}
.scroll-left{
  background-color: white;
  border: none;
  height: 25rem;
  width: 7rem;
  cursor: pointer;
}

.scroll-right{
  background-color: white;
  border: none;
  height: 25rem;
  width: 7rem;
  cursor: pointer;

}

.card-info{
color:black;
font-weight: bold;
display: flex;
}



