.carousel-container{
  position: relative;
  background: whitesmoke;
  display: flex;
  width: 70%;
  margin: auto;
  border-color: azure;
  flex-wrap: nowrap;
  overflow: hidden;
}

.inner{
  white-space: nowrap;
  display: flex;
  /* transition: transform 0.3s; */
}

.carousel-item{
  position: relative;
  height: 15rem;
  width: 15rem;
  padding: 10%;
  margin-left: 20px;
  margin-right: 20px;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: 1s cubic-bezier(0.39, 0.575, 0.565, 1)
}
.compare-button{
  align-items: top;
  height: 2rem;
  width: 4rem;
}



.item-price{
  position: relative;
  font: red;
}